<h1 class="text-center">
	Zgjedh kalkulatorin qe deshironi
</h1>

<div class="card p-4">
	<div>
		<h3>Kalkulatori per pension</h3>
		<a asp-controller="KalkulatoriPension" asp-action="Index" class="btn btn-primary">Llogarit daljen ne pension</a>
	</div>

	<div>
		<div >
			<h3 >Kalkulatori me numra</h3>
			<a asp-controller="KalkulatoriNumra" asp-action="Index" class="btn btn-primary">Llogarit numrat</a>
		</div>
	</div>
</div>
